.outer-map {
  width: 100%;
  height: calc(100vh - #{$height-work-bar} - #{$height-maps-bar});
  overflow: scroll;
}

.map {
  position: relative;

  .node {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;

    &:hover,
    &.active {
      -webkit-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.57);
      -moz-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.57);
      box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.57);
    }

    &:hover {
      &.active{
        .react-resizable-handle {
          display: block;
        }
      }
    }

    .title {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      &.font {
        &-arial {
          font-family: Arial, Helvetica, sans-serif;
        }
        &-arialBlack {
          font-family: "Arial Black", Gadget, sans-serif;
        }
        &-comic {
          font-family: "Comic Sans MS", cursive, sans-serif;
        }
        &-courier {
          font-family: "Courier New", Courier, monospace;
        }
        &-georgia {
          font-family: Georgia, serif;
        }
        &-impact {
          font-family: Impact, Charcoal, sans-serif;
        }
        &-lucida {
          font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        }
        &-lucidaConsole {
          font-family: "Lucida Console", Monaco, monospace;
        }
        &-palatino {
          font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        }
        &-tahoma {
          font-family: Tahoma, Geneva, sans-serif;
        }
        &-times {
          font-family: "Times New Roman", Times, serif;
        }
        &-trebuchet {
          font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        &-verdana {
          font-family: Verdana, Geneva, sans-serif;
        }
      }
    }

    .react-resizable-handle {
      display: none;
    }
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;

    polyline {
      fill: none;
      stroke-width: 3;
    }
  }
}
