.desktop-only {
    display: none;
}

@media (min-width: $breakpoint-desktop) {
    .desktop-only {
        display: block;
    }
}

.mobile-only {
    display: none;
}

@media (max-width: $breakpoint-desktop) {
    .mobile-only {
        display: block;
    }
}

.error {
    &-text {
        color: $c-error;
    }
}