.desktop-only {
    display: none;
}

@media (min-width: $breakpoint-desktop) {
    .desktop-only {
        display: block;
    }
}

.mobile-only {
    display: none;
}

@media (max-width: $breakpoint-desktop) {
    .mobile-only {
        display: block;
    }
}

.error {
    &-text {
        color: $c-error;
    }
}

.hidden {
    display: none;
}

.flex-row {
    width: 100%;
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.margin {
    &-bottom {
        margin-bottom: 1em;
    }
    &-top {
        margin-top: 1em;
    }
}
